body{
    background-color: black;
    font-family: "hack", fantasy;
}
h1{
    color: white;
    font-family: "hack", fantasy;
    font-size:50px;
}
p{
    color:white;
    font-family: "hack", fantasy;
    font-style: italic;
    font-size:20px;
}
img{
    padding: 25px;
}
.quotes{
    width:33%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    height:auto;
    color: white;
}
.quote{
    font-size: 30px;
}
.author {
    font-size: 20px;
    font-style: italic;
}